[submodule "node_modules/node-gitrepo"]
	path = node_modules/node-gitrepo
	url = git://github.com/jankuca/node-gitrepo.git
[submodule "node_modules/deferred"]
	path = node_modules/deferred
	url = git://gist.github.com/1124801.git
[submodule "node_modules/process-input"]
	path = node_modules/process-input
	url = git://gist.github.com/1083108.git
[submodule "node_modules/node-color-console"]
	path = node_modules/node-color-console
	url = git://gist.github.com/1127679
