[submodule "lib/node-gitrepo"]
	path = lib/node-gitrepo
	url = git://github.com/jankuca/node-gitrepo.git
[submodule "lib/deferred"]
	path = lib/deferred
	url = git://gist.github.com/1124801.git
[submodule "lib/process-input"]
	path = lib/process-input
	url = git://gist.github.com/1083108.git
[submodule "lib/node-color-console"]
	path = lib/node-color-console
	url = git://gist.github.com/1127679
